@model ServiceViewModel 
@{
    ViewBag.Title = "Delete Service";
}

<div id="deleteBanner">
    <h1 id="contactHeader">Confirm Deletion</h1>
    <p id="aboutStyle">Are you sure you want to delete the service this service? </p>
    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="CurrentService.ServiceID" />
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-action="List" class="btn btn-warning">Cancel</a>
    </form>
</div>