@{
    ViewData["Title"] = "We're Here to Help";
}

<body id="aboutBackground">
<br />
<div class="container">
    <h1 id="aboutHeader">@ViewData["Title"]</h1>
    <p id="aboutStyle">
        MowPro is the premier customer management software for small lawnmowing businesses that are looking to grow in size.
        Track all of your important data and much more in one central location with MowPro.  
    </p>
</div>
</body>
