@{
    ViewData["Title"] = "Home";
}

<h1 id="indexHeader">MowPro: Jasper Green Customer Management Software</h1>
<p id="aboutStyle"> Service Professionals </p>
<div class="list-group">
    <a asp-controller="Employee" asp-action="List"
       class="list-group-item">Employee Manager</a>
    <a asp-controller="Customer" asp-action="List"
       class="list-group-item">Customer Manager</a>
    <a asp-controller="Property" asp-action="List"
       class="list-group-item">Property Manager</a>
    <a asp-controller="Payment" asp-action="List"
       class="list-group-item">Payment Manager</a>
    <a asp-controller="Crew" asp-action="List"
       class="list-group-item">Crew Manager</a>
    <a asp-controller="ProvideService" asp-action="List"
       class="list-group-item">Service Manager</a>
</div>